body {
    background-image: url("img/bg.jpg");
	background-repeat: repeat;
}

h2 {
	font-family: 'Baloo Bhaina 2', cursive;
}

p {
	font-family: 'Gochi Hand', cursive;
}

.white-bg {
	/*margin: 0 auto;*/
	position: absolute;
	left: 25%;
    top: 25%;
	padding: 20px;
	width: fit-content;
	background-color: rgba(255, 255, 255, 0.9);
}